<template>
    <div>
        <v-dialog v-model="showDialog" width="400">
            <v-card>
                <v-card-title v-text="$t('link')"></v-card-title>
                <v-card-text>
                    <v-text-field
                        v-model="text"
                        :label="$t('field.text')"
                    ></v-text-field>
                    <v-text-field
                        v-model="url"
                        :label="$t('field.url')"
                    ></v-text-field>
                    <instance-autocomplete
                        :label="$t('instance.post')"
                        field="url"
                        v-model="postUrl"
                    ></instance-autocomplete>
                </v-card-text>
                <v-card-actions>
                    <v-btn @click="set">Применить {{ $t('apply') }}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import InstanceAutocomplete from "../../../../autocomlete/InstanceAutocomplete";
export default {
    name: "TinymceLinkDialog",
    components: {InstanceAutocomplete},
    props: ['show', 'hover', 'editor'],
    data() {
        return {
            route: '/admin/posts',
            showDialog: this.show,
            selectItem: null,
            text: '',
            url: '#',
            postUrl: null
        }
    },
    watch: {
        show(value){
            this.showDialog = value
            this.text = this.editor.selection.getContent()
        },
        showDialog(value){
            this.$emit('update:show', value)
        },
        postUrl(value){
            if(value){
                this.url = value
            }
        }
    },
    methods:{
        set(){
            if(this.text && this.url){
                let insert = ''
                insert ='<a href="' + this.url + '">' + this.text + '</a>';
                this.editor.insertContent(insert);
                this.showDialog = false
            }
        },
    }
}
</script>

<style scoped>

</style>
