<template>
    <v-app v-if="isLoad">
        <main-menu :drawer.sync="drawer" v-model="$store.getters.menu"></main-menu>

        <v-app-bar app dark color="primary">
            <v-app-bar-nav-icon dark @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <title-head>
            </title-head>
            <v-spacer></v-spacer>
            <v-toolbar-items>
                <v-btn text>{{ $store.getters.user.name }}</v-btn>
                <v-btn @click="logout()" icon>
                    <v-icon class="">far fa-sign-out</v-icon>
                </v-btn>
            </v-toolbar-items>
        </v-app-bar>

        <v-main id="main-content-wrap" v-if="$store.getters.user">
            <v-container>
                <router-view></router-view>
            </v-container>
        </v-main>
        <v-footer >
            <v-spacer></v-spacer>
        </v-footer>
        <notify></notify>
    </v-app>
</template>

<script>
    import Notify from "./Notify";
    import MainMenu from "./components/MainMenu";

    export default {
        name: "Layout",
        components: {Notify, MainMenu},
        data(){
            return {
                drawer: true,
                isLoad: false,
                admin: {
                    index_menu: null
                }
            }
        },
        methods: {
            login(){
                this.$refs.login_form.submit()
            },
            logout(){
                axios.post('/logout')
                    .then((response)=> {
                        window.location.href = response.data.redirect
                    })
            },
        },
        created(){
            axios.get('/admin/data')
                .then((response) => {
                    this.$vuetify.lang.locales[this.$vuetify.lang.current] = response.data.lang;
                    delete response.data.lang
                    this.$store.commit('set', response.data);
                    this.isLoad = true
                })
        }
    }
</script>

<style scoped>

</style>
