<template>
    <v-treeview
        open-all
        :items="tree"
        item-text="title"
    >
        <template v-slot:prepend="{item}">
            <div v-if="sort">
                <v-btn icon x-small @click="setSortDown(item.id)" :disabled="isQuery">
                    <v-icon x-small>fas fa-caret-down</v-icon>
                </v-btn>
                <v-btn icon x-small @click="setSortUp(item.id)" :disabled="isQuery">
                    <v-icon x-small>fas fa-caret-up</v-icon>
                </v-btn>
            </div>
        </template>
        <template v-slot:label="{item}">
            <router-link :to="'/categories/' + item.id">{{ item.title }}</router-link>
        </template>
    </v-treeview>
</template>

<script>
export default {
    name: "CategoriesTree",
    props: ['value', 'sort'],
    data() {
        return {
            tree: this.value,
            isQuery: false
        }
    },
    watch: {
        tree(value) {
            this.$emit('input', value)
        },
        value(value) {
            this.tree = value;
        },
    },
    methods:{
        setSortDown(id){
            this.setSort(id, 'down')
        },
        setSortUp(id){
            this.setSort(id, 'up')
        },
        setSort(id, type){
            if(this.isQuery) return false
            this.isQuery = true
            axios.post('/admin/categories/' + id + '/sort/' + type)
                .then((response) => {
                    if(_.isArray(response.data)){
                        this.tree = response.data
                    }
                })
                .finally(() => {
                    this.isQuery = false
                })
        }
    }
}
</script>

<style scoped>

</style>
