<template>
    <div class="cover-loading" :class="value ? 'is-loading' : ''">
        <slot></slot>
    </div>
</template>

<script>
export default {
    name: "CoverLoading",
    props: ['value'],
    data(){
        return {

        }
    },
    watch: {

    },
}
</script>

<style scoped>
    .cover-loading{
        position: relative;
    }
    .cover-loading.is-loading::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255, 0.5);
        z-index: 1;
    }
</style>
