<template>
    <v-dialog v-model="dialog" max-width="450" persistent scrollable>
        <v-card>
            <v-card-title class="title">
                <div v-if="text && Array.isArray(text)">
                    <template v-for="item in text">
                        <div>{{ item }}</div>
                    </template>
                </div>
                <div v-else-if="text">{{text}}</div>
                <div v-else>{{ $t('delete') }}?</div>
            </v-card-title>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="success" @click="dialog = false">{{ $t('no') }}</v-btn>
                <v-btn color="error" @click="yes()">{{ $t('yes') }}</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "DeleteConfirm",
        props: ['value', 'text'],
        data(){
            return {
                dialog: this.value
            }
        },
        watch: {
            dialog(value){
                this.$emit('input', value);
            },
            value(value){
                this.dialog = value;
            },
        },
        methods: {
            yes(){
                this.$emit('deleteConfirm');
                this.dialog = false;
            }
        }
    }
</script>

<style scoped>

</style>
