<template>
    <div>
        <v-btn-toggle v-if="$store.getters.langs.length > 1" tile color="primary" group v-model="lang">
            <template v-for="(itemLang, i) in $store.getters.langs">
                <v-btn
                    :value="itemLang.name"
                    :class="{'lang-error': hasError(i), 'lang-has': hasLang(i)}"
                    width="50px"
                    height="30px"
                    class="flag"
                    v-html="itemLang.icon"
                ></v-btn>
            </template>
        </v-btn-toggle>
    </div>
</template>

<script>
export default {
    name: "Langs",
    props: ['value', 'langs', 'errors'],
    data() {
        return {
            lang: this.value,
        }
    },
    computed:{
        errorLang(){
            return _.map(_.keys(this.errors), (str) => {
                return _.toInteger(str.match('[.]([0-9]{1,})[.]')[1])
            })
        }
    },
    watch: {
        lang(value) {
            this.$emit('input', value)
        },
        value(value) {
            this.lang = value;
        },
    },
    methods:{
        hasLang(i){
            return _.get(this.langs, i +'.title')
        },
        hasError(i){
            return _.indexOf(this.errorLang, i) !== -1
        }
    }
}
</script>

<style scoped>

</style>
