<template>
    <div class="reset h-100">
        <textarea :id="'editor_' + this._uid" v-html="content"></textarea>
        <tinymce-media-dialog :show.sync="tinymce.mediaDialog" :editor="editor"></tinymce-media-dialog>
        <tinymce-link-dialog :show.sync="tinymce.linkDialog" :editor="editor"></tinymce-link-dialog>
    </div>
</template>

<script>
    import TinyMCE from 'tinymce'
    import Media from './media'
    import Link from './link'
    import TinymceMediaDialog from "./media/TinymceMediaDialog";
    import TinymceLinkDialog from "./link/TinymceLinkDialog";
    TinyMCE.PluginManager.add('media', Media);
    TinyMCE.PluginManager.add('link', Link);
    export default {
        name: "ContentEditor",
        components: {TinymceMediaDialog, TinymceLinkDialog},
        props: ['value', 'model'],
        data () {
            return {
                tabs: 0,
                content: null,
                editor: null,
                editorConfig: {
                    selector: '#editor_' + this._uid,
                    menubar: false,
                    //inline: true,
                    plugins: "link lists table media code",
                    toolbar:
                        'undo redo | ' +
                        'formatselect | ' +
                        'bold italic link | ' +
                        'table media | ' +
                        'alignleft aligncenter alignright alignjustify | ' +
                        'bullist numlist | ' +
                        'removeformat |' +
                        'code',
                    contextmenu: "link image imagetools table spellchecker",
                    toolbar_drawer: 'floating',
                    images_upload_url: '/admin/images',
                    content_css: [
                        '/css/oxide/content.css'
                    ],
                    skin_url: '/css/oxide',
                    theme_url: '/mytheme/mytheme.js',
                    branding: false,
                    language: 'ru',
                    setup: (editor) => {
                        this.editor = editor
                        this.editor.on('Change', () => {
                            this.content = this.editor.getContent()
                            this.$emit('input', this.content)
                        })
                    },
                    document_base_url: this.$store.getters.url,
                    relative_urls: false,
                    convert_urls: false,
                },
                linkUrl: null,
                linkMenuIsActive: false,
                tinymce: {
                    mediaDialog: false,
                    linkDialog: false
                }
            }
        },
        watch:{
            model(value, oldValue){
                if((value && !oldValue) || (value && oldValue && value.id != oldValue.id)){
                    this.init()
                }
            },
            value(value){
                let content = this.content
                this.content = value
                if(!this.editor){
                    this.init()
                }
                setTimeout(() => {
                    if(content !== value){
                        this.editor.setContent(_.toString(this.content))
                    }
                }, 1000)

            },
        },
        methods:{
            init(){
                if(this.editor){
                    this.editor.destroy()
                }
                this.content = this.value
                let wait = setInterval(() => {
                    if(this.model.id && this.content){
                        TinyMCE.init(this.editorConfig)
                        clearInterval(wait)
                    }else{
                        TinyMCE.init(this.editorConfig)
                        clearInterval(wait)
                    }
                }, 100)

            },
            setContent(content){

            },
        },
        mounted(){
            this.init()
        },
        created(){
            $app.$on('tinymce:media:open', () => {
                this.tinymce.mediaDialog = true
            })
            $app.$on('tinymce:link:open', () => {
                this.tinymce.linkDialog = true
            })
        }
    }
</script>

<style lang="scss">
    .tox-tinymce{
        min-height: calc(100vh - 200px);
    }

</style>
