<template>
    <v-autocomplete
        v-model="category_id"
        :items="items"
        :loading="isLoadingValue"
        :search-input.sync="searchValue"
        hide-no-data
        hide-selected
        item-text="title"
        item-value="id"
        :label="label"
        append-icon=""
        clearable
        :error-messages="error"
        @click:clear="$emit('clear')"
    ></v-autocomplete>
</template>

<script>
    export default {
        name: "CategoryAutocomplete",
        props: ['value', 'error', 'label', 'model', 'parent', 'current', 'post'],
        data(){
            return {
                category: null,
                category_id: this.value,
                searchValue: '',
                items: [],
                isParent: typeof this.parent !== 'undefined',
                isPost: typeof this.post !== 'undefined',
                isLoadingValue: false,
            }
        },
        watch:{
            category(value){
                this.$emit('hasChildren', value);
            },
            value(value){
                this.category_id = value
                this.getValue()
            },
            category_id(value){
                this.$emit('input', value)
            },
            searchValue(value) {
                this.getValues(value)
            },
        },
        methods: {
            setCategory(){
                if(this.category_id){
                    this.category = _.find(this.items, {'id': this.category_id})
                }else{
                    this.category = null
                }
            },
            getValues(value, force){
                value = _.toString(value)
                if(!value.length && !force) return;
                this.isLoadingValue = true;
                axios.get('/admin/categories', {params: {
                    s: value,
                    parent: _.toInteger(this.isParent),
                    post: _.toInteger(this.isPost),
                    current: this.current
                }})
                    .then((response) => {
                        this.items = response.data.data;
                    })
                    .catch()
                    .finally(() => (this.isLoadingValue = false))
            },
            getValue(){
                if(this.category_id){
                    axios.get('/admin/categories/' + this.category_id)
                        .then((response) => {
                            let items = this.items
                            this.$emit('update:model', response.data)
                            items.push(response.data);
                            this.items = items
                            this.setCategory()
                        })
                }

            }
        },
        created(){
            this.category_id = this.value
            this.getValue()
            this.getValues('', true)
        }
    }
</script>

<style scoped>

</style>
