<template>
    <v-autocomplete
        v-model="model_id"
        :items="items"
        :loading="isLoadingValue"
        :search-input.sync="searchValue"
        hide-no-data
        hide-selected
        item-text="title"
        :item-value="model_field"
        :label="label"
        :placeholder="model ? model.name : ''"
        append-icon=""
        clearable
        :error-messages="error"
        @blur="model && (model.title !== searchValue) ? (searchValue = '') : ''"
    ></v-autocomplete>
</template>

<script>
    export default {
        name: "InstanceAutocomplete",
        props: ['value', 'error', 'label', 'field'],
        data(){
            return {
                model: null,
                model_id: this.value,
                model_field: this.field ? this.field : 'id',
                searchValue: '',
                items: [],
                isLoadingValue: false,
            }
        },
        watch:{
            value(value){
                this.model_id = value
            },
            model(value){
                this.$emit('update:instance', value)
            },
            model_id(value){
                this.$emit('input', value)
            },
            searchValue(value) {
                this.getValues(value)
            },
        },
        methods: {
            getValues(value, force){
                value = _.toString(value)
                if(!value.length && !force) return;
                this.isLoadingValue = true;
                axios.get('/admin/instances', {params: {s: value}})
                    .then((response) => {
                        this.items = response.data.data;
                    })
                    .catch()
                    .finally(() => (this.isLoadingValue = false))
            },
        },
        created(){
            this.model_id = this.value
            this.getValues('', true)
        }
    }
</script>

<style scoped>

</style>
