<template>
    <div class="search-wrap">
        <v-row>
            <v-col cols="6">
                <v-text-field
                    v-model="searchValue"
                    class="search-input"
                    label="Поиск"
                >
                </v-text-field>
                <div class="search-list">
                    <v-list>
                        <template v-for="item in items">
                            <v-list-item v-if="!hasResult(item)">
                                <v-list-item-content>
                                    <v-list-item-title v-text="item.title"></v-list-item-title>
                                </v-list-item-content>
                                <v-list-item-action>
                                    <v-btn small icon @click="add(item)">
                                        <v-icon small color="grey lighten-1">far fa-plus</v-icon>
                                    </v-btn>
                                </v-list-item-action>
                            </v-list-item>
                        </template>
                    </v-list>
                </div>
            </v-col>
            <v-col cols="6">
                <div class="title">{{ label }}</div>
                <v-list>
                    <template v-for="item in models">
                        <v-list-item>
                            <v-list-item-content>
                                <v-list-item-title v-text="item.title"></v-list-item-title>
                            </v-list-item-content>
                            <v-list-item-action>
                                <v-btn small icon @click="remove(item)">
                                    <v-icon small color="grey lighten-1">far fa-times</v-icon>
                                </v-btn>
                            </v-list-item-action>
                        </v-list-item>
                    </template>
                </v-list>
            </v-col>
        </v-row>
        <v-divider></v-divider>
    </div>
</template>

<script>
    export default {
        name: "PostMultipleAutocomplete",
        props: ['value', 'error', 'label', 'field', 'type'],
        data(){
            return {
                models: [],
                model_ids: this.value,
                searchValue: '',
                items: [],
                isLoadingValue: false,
            }
        },
        watch:{
            value(value){
                this.model_ids = value
                this.getValue()

            },
            model_ids(value){
                this.$emit('input', value)
            },
            searchValue(value) {
                this.getValues(value)
            },
        },
        methods: {
            add(item){
                if(!_.find(this.models, {id: item.id})){
                    this.models.push(item)
                    this.model_ids = _.map(this.models, 'id')
                }
                this.getValues(null, true)
            },
            remove(item){
                if(_.find(this.models, {id: item.id})){
                    this.models = _.filter(this.models, (o) => {
                        return o.id !== item.id
                    })
                    this.model_ids = _.map(this.models, 'id')
                }
            },
            hasResult(item){
                return _.find(this.models, {id: item.id})
            },
            getValues(value, force){
                value = value ? _.toString(value) : _.toString(this.searchValue)
                if((!value.length && !force) || this.isLoadingValue) return;
                this.isLoadingValue = true;
                axios.get('/admin/posts', {params: {s: value, out: this.model_ids, type: this.type}})
                    .then((response) => {
                        this.items = response.data.data;
                    })
                    .catch()
                    .finally(() => (this.isLoadingValue = false))
            },
            getValue(){
                if(this.model_ids && _.join(this.model_ids, '-') !== _.join(_.map(this.models, 'id'), '-') ){
                    axios.get('/admin/posts/', {params: {in: this.model_ids, type: this.type}} )
                        .then((response) => {
                            let items = this.items
                            this.models = response.data.data;
                            items.concat(response.data.data);
                            this.items = items
                        })
                }

            }
        },
        created(){
            this.model_ids = this.value
            this.getValue()
            this.getValues('', true)
        }
    }
</script>

<style scoped>
    .search-wrap,
    .search-input,
    .search-list,
    .search-result{
        width: 100%
    }
    .search-list{
        height: 300px;
        overflow: auto;
    }
</style>
