<template>
    <v-autocomplete
        v-model="model_ids"
        :items="items"
        :loading="isLoadingValue"
        :search-input.sync="searchValue"
        item-text="title"
        item-value="id"
        :label="label"
        clearable
        multiple
        chips
        hide-selected
        deletable-chips
        :error-messages="error"
    ></v-autocomplete>
</template>

<script>
    export default {
        name: "TagsAutocomplete",
        props: ['value', 'error', 'label'],
        data(){
            return {
                models: null,
                model_ids: this.value,
                searchValue: '',
                items: [],
                isLoadingValue: false,
            }
        },
        watch:{
            value(value){
                this.model_ids = value
                this.getValue()
            },
            model_ids(value){
                this.$emit('input', value)
            },
            searchValue(value) {
                this.getValues(value)
            },
        },
        methods: {
            getValues(value, force){
                value = _.toString(value)
                if(!value.length && !force) return;
                this.isLoadingValue = true;
                axios.get('/admin/tags', {params: {s: value}})
                    .then((response) => {
                        this.items = response.data.data;
                    })
                    .catch()
                    .finally(() => (this.isLoadingValue = false))
            },
            getValue(){
                if(this.model_ids){
                    axios.get('/admin/tags/', {params: {in: this.model_ids}})
                        .then((response) => {
                            let items = this.items
                            this.models = response.data.data;
                            items.concat(response.data.data);
                            this.items = items
                        })
                }

            }
        },
        created(){
            this.model_ids = this.value
            this.getValue()
            this.getValues('', true)
        }
    }
</script>

<style scoped>

</style>
