$shadow-key-umbra: #d7d8db !default;
$shadow-key-penumbra: #e3e4e8 !default;
$shadow-key-ambient-opacity: rgba(0, 0, 0, 0) !default;

$shadow-key-umbra: () !default;
$shadow-key-umbra: map-deep-merge(
  (
    0: (0px 0px 0px 0px $shadow-key-umbra),
    1: (0px 1px 0px -1px $shadow-key-umbra),
    2: (0px 1px 0px 0px $shadow-key-umbra),
    3: (0px 1px 1px 1px $shadow-key-umbra),
  ),
  $shadow-key-umbra
);

$shadow-key-penumbra: () !default;
$shadow-key-penumbra: map-deep-merge(
  (
    0: (0px 0px 0px 0px $shadow-key-penumbra),
    1: (0px 0px 0px -1px $shadow-key-penumbra),
    2: (0px 0px 0px 1px $shadow-key-penumbra),
    3: (0px 0px 1px 1px $shadow-key-penumbra),
  ),
  $shadow-key-penumbra
);

$shadow-key-ambient: () !default;
$shadow-key-ambient: map-deep-merge(
  (
    0: (0px 0px 0px 0px $shadow-key-ambient-opacity),
    1: (0px 0px 0px 0px $shadow-key-ambient-opacity),
    2: (0px 0px 0px 0px $shadow-key-ambient-opacity),
    3: (0px 0px 0px 0px $shadow-key-ambient-opacity),
  ),
  $shadow-key-ambient
);
