<template>
    <div>
        <div class="uk-card uk-card-default uk-card-body uk-width-large">
            <template v-if="thisType === 'login'">
                <div class="uk-h3">Войти в личный кабинет</div>
                <div class="uk-margin">
                    <input
                        type="email"
                        class="uk-input"
                        :class="{'uk-form-danger': errors.email}"
                        v-model="auth.email"
                        placeholder="E-mail"
                    >
                    <span class="uk-text-danger" v-if="errors.email">{{ errors.email }}</span>
                </div>
                <div class="uk-margin">
                    <input
                        type="password"
                        class="uk-input"
                        :class="{'uk-form-danger': errors.password}"
                        v-model="auth.password"
                        placeholder="Пароль"
                    >
                    <span class="uk-text-danger" v-if="errors.password">{{ errors.password }}</span>
                </div>
                <div>
                    <button class="uk-button uk-button-primary" @click="login()" :disabled="isQuery">Войти</button>
                    <a class="uk-float-right" @click="thisType = 'recovery-password'">Забыли пароль?</a>
                </div>
            </template>
            <template v-else-if="thisType === 'recovery-password'">
                <div class="uk-h3">Восстановление пароля</div>
                <div class="uk-margin">
                    <input
                        type="email"
                        class="uk-input"
                        :class="{'uk-form-danger': errors.email}"
                        v-model="auth.email"
                        placeholder="E-mail"
                    >
                    <span class="uk-text-danger" v-if="errors.email">{{ errors.email }}</span>
                </div>
                <div>
                    <button class="uk-button uk-button-primary" @click="recovery()" :disabled="isQuery">Отправить письмо</button>
                    <a class="uk-float-right" @click="thisType = 'recovery-password'">Я знаю пароль</a>
                </div>
            </template>
            <template v-else-if="thisType === 'recovery-password-success'">
                <div class="uk-h3">Ссылка для восстановления пароля успешно отправлена</div>
            </template>
            <template v-else-if="thisType === 'set-password'">
                <div class="uk-margin">
                    <input
                        type="password"
                        class="uk-input"
                        :class="{'uk-form-danger': errors.password}"
                        v-model="auth.password"
                        placeholder="Новый пароль"
                    >
                    <span class="uk-text-danger" v-if="errors.password">{{ errors.password }}</span>
                </div>
                <div>
                    <button class="uk-button uk-button-primary" @click="resetPassword()" :disabled="isQuery">Отправть</button>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
import _ from "lodash";

/**
 * login, set-password
 */
export default {
    name: "Auth",
    props: ['type', 'token'],
    data() {
        return {
            thisType: this.type,
            auth: {
                email: '',
                password: ''
            },
            errors: {},
            isQuery: false
        }
    },
    methods:{
        login(){
            if(this.isQuery) return false
            this.isQuery= true
            this.errors = {}
            axios.post('/login', this.auth)
                .then((response) => {
                    if(response.data.redirect){
                        window.location.href = response.data.redirect
                    }
                })
                .catch((error) => {
                    this.error(error)
                })
                .finally(() => {
                    this.isQuery= false
                })
        },
        recovery(){
            if(this.isQuery) return false
            this.isQuery= true
            this.errors = {}
            axios.post('/recovery-password', this.auth)
                .then((response) => {
                    if(response.data.success){
                        this.thisType = 'recovery-password-success'
                    }
                })
                .catch((error) => {
                    this.error(error)
                })
                .finally(() => {
                    this.isQuery= false
                })
        },
        resetPassword(){
            if(this.isQuery) return false
            this.isQuery= true
            this.errors = {}
            axios.post('/reset-password', {
                password: this.auth.password,
                token: this.token
            })
                .then((response) => {
                    if(response.data.redirect){
                        window.location.href = response.data.redirect
                    }
                })
                .catch((error) => {
                    this.error(error)
                })
                .finally(() => {
                    this.isQuery= false
                })
        },
        error(error){
            if (_.has(error, 'response.data.errors')) {
                this.errors = _.mapValues(_.get(error, 'response.data.errors', {}), 0);
            }
        }
    },
    watch: {},
}
</script>

<style scoped>

</style>
