<template>
    <div>
        <v-btn color="primary" to="/categories/create">{{ $t('create') }}</v-btn>
        <v-btn color="primary" @click="getTree()">{{ $t('treeCategories') }}</v-btn>
        <data-table :headers="headers" :data="dataItems" v-model="pagination" :query="isQuery" @getItems="getItems">
            <template v-slot="{ items }">
                <template v-if="items" v-for="item in items">
                    <tr :class="{'grey--text': item.is_deleted}">
                        <td>{{ item.id }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.slug }}</td>
                        <td>
                            <template v-if="item.parent">
                                <router-link :to="'/categories/' + item.parent.id">{{ item.parent.title }}</router-link>
                            </template>
                        </td>
                        <td class="text-right">
                            <v-btn v-if="item.url" small icon :href="item.url" target="_blank">
                                <v-icon small :title="$t('open')">far fa-eye</v-icon>
                            </v-btn>
                            <template v-if="$hasPermission('pages.update')">
                                <v-btn small icon>
                                    <v-icon small @click="editItem(item)" :title="$t('edit')" class="">far fa-edit</v-icon>
                                </v-btn>
                            </template>
                            <template v-if="$hasPermission('pages.delete')">
                                <v-btn small icon>
                                    <v-icon small @click="getDeleteItem(item)" :title="$t('delete')" class="">far fa-trash</v-icon>
                                </v-btn>
                            </template>
                        </td>
                    </tr>
                </template>
            </template>
            <template v-slot:footer>
                <v-btn color="primary" to="/categories/create">{{ $t('create') }}</v-btn>
            </template>
        </data-table>
        <delete-confirm v-model="hasDeleteModel" @deleteConfirm="setDeleteItem"></delete-confirm>
        <v-dialog v-model="hasTree" width="600">
            <v-card>
                <v-card-title>
                    <span>{{ $t('treeCategories') }}</span>
                    <v-btn :color="hasSortTree ? 'success' : 'gray'" icon small @click="hasSortTree = !hasSortTree">
                        <v-icon small>far fa-cog</v-icon>
                    </v-btn>
                </v-card-title>
                <v-card-text>
                    <categories-tree v-model="tree" :sort="hasSortTree"></categories-tree>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import {pagination, del} from '../mixins/crud';
import EditCategory from "../edit/EditCategory";
import CategoriesTree from "../components/CategoriesTree";

export default {
    name: "Categories",
    components: {CategoriesTree, EditCategory},
    mixins: [pagination, del],
    data() {
        return {
            route: '/admin/categories',
            addEditId: 'categories',
            headers: [
                {text: 'ID', align: 'left', value: 'id', width: 150},
                { text: this.$t('field.title'), value: 'title', align: 'left' },
                { text: this.$t('field.slug'), value: 'slug', align: 'left' },
                { text: this.$t('field.parent_category'), value: 'parent', align: 'left' },
                {  width: 150, align: 'right'}
            ],
            tree: [],
            hasTree: false,
            hasSortTree: false
        }
    },
    methods: {
        editItem(item){
            this.$router.push({name: 'сategory', params: {id: item.id}})
        },
        getTree(){
            axios.get('/admin/categories/tree')
                .then((response) => {
                    this.tree = response.data
                    this.hasTree = true
                })
        }
    },
    created() {
        if(this.$route.params.id && this.addEditId){
            this.editItem(_.toInteger(this.$route.params.id), 'categories.update', true)
        }
    }
}
</script>

<style scoped>

</style>
