<template>
    <div>
        <v-container class="main-container" fluid>
            <v-row>
                <v-col cols="12" class="main-container-col">
                    <upload-file v-model="dataItems">
                        <v-data-iterator
                                :items="dataItems"
                                :page="pagination.page"
                                :class="{'is-query': !isQuery}"
                                sort-desc
                                :items-per-page="pagination.itemsPerPage"
                                :server-items-length="pagination.total"
                                :loading="!isQuery"
                                hide-default-footer
                                @update:options="getItems"
                        >
                            <v-progress-linear v-slot:progress color="blue" indeterminate></v-progress-linear>
                            <template v-slot:default="props">
                                <v-row>
                                    <template v-for="(item, i) in props.items">
                                    <v-col
                                            cols="6"
                                            sm="4"
                                            md="3"
                                            lg="2"
                                    >
                                        <item-image v-model="props.items[i]" @remove="remove" @edit="selectImage" :is-check="isCheck(item)">
                                            <v-btn
                                                fab dark x-small
                                                color="error"
                                                :title="$t('delete')"
                                                class="float-right mr-1 mt-1"
                                                @click="remove(item)"
                                            >
                                                <v-icon x-small>fa-trash-alt</v-icon>
                                            </v-btn>
                                        </item-image>
                                    </v-col>
                                    </template>
                                </v-row>
                            </template>
                            <template v-slot:footer="{}">
                                <v-row>
                                    <v-col cols="3">

                                    </v-col>
                                    <v-col cols="6">
                                        <v-pagination
                                            class="data-table-pagination"
                                            v-model="pagination.page"
                                            :length="pagination.pages"
                                            :total-visible="7"
                                        ></v-pagination>
                                    </v-col>
                                    <v-col cols="3">

                                    </v-col>
                                </v-row>
                            </template>
                        </v-data-iterator>
                    </upload-file>
                </v-col>
            </v-row>
        </v-container>
        <delete-confirm v-model="hasDeleteModel" @deleteConfirm="setDeleteItem":text="deleteText"></delete-confirm>
        <v-navigation-drawer v-model="hasEditModel" fixed temporary right width="760">
            <div v-if="hasEditModel" class="">
                <v-card-title>{{ $t('instance.image_edit') }}</v-card-title>
                <v-card-text>
                    <edit-image v-model="editModel" :errors="errors"></edit-image>
                </v-card-text>
                <model-edit-actions
                    @save="setEditItem()"
                    @delete="getDeleteItem()"
                    @close="closeEditItem()"
                    v-model="editModel"
                    :loading="loading"
                ></model-edit-actions>
            </div>
        </v-navigation-drawer>
    </div>
</template>

<script>
    import {pagination, edit, del} from '../mixins/crud'
    import ItemImage from "../components/ItemImage";
    import UploadFile from "../components/UploadFile";
    import EditImage from "../edit/EditImage";

    export default {
        props: ['value', 'multiple', 'edit', 'del'],
        name: "Images",
        components: {EditImage, UploadFile, ItemImage},
        mixins: [pagination, edit, del],
        data(){
            return {
                route: '/admin/images',
                filter: {

                },
                pagination: {
                    itemsPerPage: 24,
                },
                check: null,
                checks: []
            }
        },
        methods:{
            remove(item){
                this.getDeleteItem(item)
            },
            selectImage(item){
                if(typeof this.multiple !== 'undefined'){
                    if(this.isCheck(item)){
                        this.checks = _.filter(this.checks, (o) => {
                            return o.id !== item.id
                        })
                    }else{
                        this.checks.push(item)
                    }
                    this.$emit('input', this.checks)
                }else{
                    this.check = item.id
                    if(typeof this.value !== 'undefined'){
                        this.$emit('input', item)
                    }else if(this.edit !== false){
                        this.editItem(item)
                    }
                }

            },
            isCheck(item){
                if(typeof this.multiple !== 'undefined'){
                    return _.indexOf(_.map(this.checks, 'id'), item.id) !== -1
                }else{
                    return this.check === item.id
                }
            }
        },
        created(){
            if(typeof this.multiple !== 'undefined'){
                if(this.value){
                    this.checks = this.value
                }
            }else{
                if(this.value){
                    this.check = this.value.id
                }
            }

        }
    }
</script>

<style scoped>

</style>
