<template>
    <div>
        <data-table :headers="headers" :data="dataItems" v-model="pagination" :query="isQuery" @getItems="getItems">
            <template v-slot="{ items }">
                <template v-if="items" v-for="item in items">
                    <tr :class="{'grey--text': item.is_deleted}">
                        <td>
                            <div class="d-flex align-center justify-space-between">
                                <div>{{ item.id }}</div>
                            </div>
                        </td>
                        <td>
                            <div v-text="item.address"></div>
                        </td>
                        <td>
                            <div class="text-right" v-text="item.status_title"></div>
                        </td>
                        <td>
                            <div class="text-right" v-text="item.price"></div>
                        </td>
                        <td>
                            <div class="text-right" v-text="item.created_at"></div>
                        </td>
                        <td class="text-right">
                            <template v-if="$hasPermission('orders.update')">
                                <v-btn small icon>
                                    <v-icon small @click="editItem(item)" :title="$t('edit')" class="">far fa-edit</v-icon>
                                </v-btn>
                            </template>
                        </td>
                    </tr>
                </template>
            </template>
        </data-table>
    </div>
</template>

<script>
    import {create, del, edit, pagination} from "../mixins/crud";
    import CategoryAutocomplete from "../../autocomlete/CategoryAutocomplete";

    export default {
        name: "Orders",
        components: {CategoryAutocomplete},
        mixins: [pagination, edit, create, del],
        data() {
            return {
                route: '/admin/orders',
                filter:{
                    s: '',
                    category_id: null
                },
                headers: [
                    { text: 'ID', align: 'left', value: 'id', width: 150},
                    { text: this.$t('field.address'), value: 'status' },
                    { text: this.$t('field.status'), value: 'status', align: 'right' },
                    { text: this.$t('field.price'), value: 'price', align: 'right' },
                    { text: this.$t('field.created_at'), value: 'created_at', align: 'right' },
                    {  width: 170, align: 'right'}
                ],
            }
        },
        methods: {
            editItem(item){
                this.$router.push({name: 'order', params: {id: item.id}})
            }
        }
    }
</script>

<style scoped>

</style>
