<template>
    <div>
        <v-btn color="primary"  @click="createItem">{{ $t('create') }}</v-btn>
        <data-table :headers="headers" :data="dataItems" v-model="pagination" :query="isQuery" @getItems="getItems">
            <template v-slot="{ items }">
                <template v-if="items" v-for="item in items">
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.title }}</td>
                        <td class="text-right">
                            <template v-if="$hasPermission('roles.update')">
                                <v-btn small icon>
                                    <v-icon small @click="editItem(item)" :title="$t('edit')" class="">far fa-edit</v-icon>
                                </v-btn>
                            </template>
                            <template v-if="$hasPermission('roles.delete')">
                                <v-btn small icon>
                                    <v-icon small @click="getDeleteItem(item)" :title="$t('delete')" class="">far fa-trash</v-icon>
                                </v-btn>
                            </template>
                        </td>
                    </tr>
                </template>
            </template>
            <template v-slot:footer>
                <v-btn color="primary"  @click="createItem">{{ $t('create') }}</v-btn>
            </template>
        </data-table>
        <v-navigation-drawer v-model="hasEditModel" fixed temporary right width="760">
            <div v-if="hasEditModel" class="">
                <v-card-title>{{ $t('instance.role_edit') }}</v-card-title>
                <v-card-text>
                    <edit-role v-model="editModel" :errors="errors"></edit-role>
                </v-card-text>
                <model-edit-actions
                    @save="setEditItem()"
                    @delete="getDeleteItem()"
                    @close="closeEditItem()"
                    v-model="editModel"
                    :loading="loading"
                ></model-edit-actions>
            </div>
        </v-navigation-drawer>
        <v-navigation-drawer v-model="hasCreateModel" fixed temporary right width="760">
            <div v-if="hasCreateModel" class="">
                <v-card-title>{{ $t('instance.role_create') }}</v-card-title>
                <v-card-text>
                    <edit-role v-model="createModel" :errors="errors"></edit-role>
                </v-card-text>
                <model-edit-actions
                    @save="setCreateItem()"
                    @close="closeCreateItem()"
                    v-model="createModel"
                    :loading="loading"
                ></model-edit-actions>
            </div>
        </v-navigation-drawer>
        <delete-confirm v-model="hasDeleteModel" @deleteConfirm="setDeleteItem"></delete-confirm>
    </div>
</template>

<script>
    import {pagination, edit, create, del} from './../mixins/crud';
    import EditRole from './../edit/EditRole'

    export default {
        name: "Roles",
        mixins: [pagination, edit, create, del],
        components: {EditRole},
        data() {
            return {
                route: '/admin/roles',
                headers: [
                    { text: 'ID', align: 'left', value: 'id', width: 150},
                    { text: this.$t('field.title'), value: 'title', align: 'left' },
                    {  width: 150, align: 'right'}
                ],
            }
        },
        methods: {
        }
    }
</script>

<style scoped>

</style>
