<template>
    <div>
        <cover-loading v-model="loading">
            <template v-if="$store.getters.app">
                <settings-page v-if="isLoad" v-model="editModel" :errors="errors" :lang.sync="lang" :is-load="isLoad"></settings-page>
                <v-btn class="save_model" color="primary" @click="setEditItem()" :disabled="loading">{{ $t('save') }}</v-btn>
            </template>
        </cover-loading>
    </div>
</template>

<script>
    import {edit} from "../mixins/crud";
    import CoverLoading from "../components/CoverLoading";

    export default {
        name: "Settings",
        components: {CoverLoading},
        mixins: [edit],
        data() {
            return {
                loading: false,
                isLoad: false,
                lang: this.$store.getters.app.lang
            }
        },
        computed:{

        },
        watch:{
            lang(value, oldValue){
                this.setEditItem(oldValue)
                this.getEditItem()
            }
        },
        methods:{
            setEditItem(lang) {
                if (this.loading) return false;
                this.loading = true;
                this.errors = {};
                this.editModel.lang = lang ? lang : this.lang
                console.log(this.editModel)
                axios.put('/admin/settings', this.editModel)
                    .then((response) => {
                        this.$notify({message:  this.$t('saved'), color: 'success'});
                    })
                    .catch((error) => {
                        this.validatorErrors(error);
                    })
                    .finally(() => {
                        this.loading = false;
                    });
            },
            getEditItem(){
                if(this.lang){
                    this.loading = true
                    axios.get('/admin/settings/edit', {params: {lang: this.lang}})
                        .then((response) => {
                            if(_.isObject(response.data)){
                                this.editModel = response.data
                            }
                        })
                        .finally(() => {
                            this.isLoad = true
                            this.loading = false
                        })
                }
            }
        },
        updated() {

        },
        created() {
            this.getEditItem()
        }
    }
</script>

<style scoped>

</style>
