<template>
    <div>
        <v-btn color="primary" to="/tags/create">{{ $t('create') }}</v-btn>
        <data-table :headers="headers" :data="dataItems" v-model="pagination" :query="isQuery" @getItems="getItems">
            <template v-slot="{ items }">
                <template v-if="items" v-for="item in items">
                    <tr :class="{'grey--text': item.is_deleted}">
                        <td>{{ item.id }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.slug }}</td>
                        <td class="text-right">
                            <v-btn v-if="item.url" small icon :href="item.url" target="_blank">
                                <v-icon small :title="$t('open')">far fa-eye</v-icon>
                            </v-btn>
                            <template v-if="$hasPermission('pages.update')">
                                <v-btn small icon>
                                    <v-icon small @click="editItem(item)" :title="$t('edit')" class="">far fa-edit</v-icon>
                                </v-btn>
                            </template>
                            <template v-if="$hasPermission('pages.delete')">
                                <v-btn small icon>
                                    <v-icon small @click="getDeleteItem(item)" :title="$t('delete')" class="">far fa-trash</v-icon>
                                </v-btn>
                            </template>
                        </td>
                    </tr>
                </template>
            </template>
            <template v-slot:footer>
                <v-btn color="primary" to="/tags/create">{{ $t('create') }}</v-btn>
            </template>
        </data-table>
        <delete-confirm v-model="hasDeleteModel" @deleteConfirm="setDeleteItem"></delete-confirm>
    </div>
</template>

<script>
import {pagination, del} from '../mixins/crud';
import EditTag from "../edit/EditTag";

export default {
    name: "Tags",
    components: {EditTag},
    mixins: [pagination, del],
    data() {
        return {
            route: '/admin/tags',
            addEditId: 'tags',
            headers: [
                {text: 'ID', align: 'left', value: 'id', width: 150},
                { text: this.$t('field.title'), value: 'title', align: 'left' },
                { text: this.$t('field.slug'), value: 'slug', align: 'left' },
                {  width: 150, align: 'right'}
            ],
        }
    },
    methods: {
        editItem(item){
            this.$router.push({name: 'tag', params: {id: item.id}})
        }
    },
    created() {
        if(this.$route.params.id && this.addEditId){
            this.editItem(_.toInteger(this.$route.params.id), 'tags.update', true)
        }
    }
}
</script>

<style scoped>

</style>
