<template>
    <div>
        <v-btn color="primary" @click="createItem">{{ $t('create') }}</v-btn>
        <data-table :headers="headers" :data="dataItems" v-model="pagination" :query="isQuery" @getItems="getItems">
            <template v-slot="{ items }">
                <template v-if="items" v-for="item in items">
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.email }}</td>
                        <td class="text-right">
                            <template v-if="$hasPermission('pages.update')">
                                <v-btn small icon>
                                    <v-icon small @click="editItem(item)" :title="$t('edit')" class="">far fa-edit</v-icon>
                                </v-btn>
                            </template>
                            <template v-if="$hasPermission('pages.delete')">
                                <v-btn small icon>
                                    <v-icon small @click="getDeleteItem(item)" :title="$t('delete')" class="">far fa-trash</v-icon>
                                </v-btn>
                            </template>
                        </td>
                    </tr>
                </template>
            </template>
            <template v-slot:footer>
                <v-btn color="primary" @click="createItem">{{ $t('create') }}</v-btn>
            </template>
        </data-table>
        <v-navigation-drawer v-model="hasEditModel" fixed temporary right width="760">
            <div v-if="hasEditModel" class="">
                <v-card-title>{{ $t('instance.user_edit') }}</v-card-title>
                <v-card-text>
                    <edit-user v-model="editModel" :errors="errors"></edit-user>
                </v-card-text>
                <model-edit-actions
                    @save="setEditItem()"
                    @delete="getDeleteItem()"
                    @close="closeEditItem()"
                    v-model="editModel"
                    :loading="loading"
                ></model-edit-actions>
            </div>
        </v-navigation-drawer>
        <v-navigation-drawer v-model="hasCreateModel" fixed temporary right width="760">
            <div v-if="hasCreateModel" class="">
                <v-card-title>{{ $t('instance.user_create') }}</v-card-title>
                <v-card-text>
                    <edit-user v-model="createModel" :errors="errors"></edit-user>
                </v-card-text>
                <model-edit-actions
                    @save="setCreateItem()"
                    @close="closeCreateItem()"
                    v-model="createModel"
                    :loading="loading"
                ></model-edit-actions>
            </div>
        </v-navigation-drawer>
        <delete-confirm v-model="hasDeleteModel" @deleteConfirm="setDeleteItem"></delete-confirm>
    </div>
</template>

<script>
    import {create, del, edit, pagination} from "../mixins/crud";
    import EditUser from './../edit/EditUser'

    export default {
        name: "Users",
        mixins: [pagination, edit, create, del],
        components: {EditUser},
        data() {
            return {
                route: '/admin/users',
                addEditId: 'users',
                headers: [
                    { text: 'ID', align: 'left', value: 'id', width: 150},
                    { text: this.$t('field.name'), value: 'name', align: 'left' },
                    { text: this.$t('field.email'), value: 'email', align: 'left' },
                    {  width: 150, align: 'right'}
                ],
            }
        },
        methods: {

        },
        created() {
            if(this.$route.params.id && this.addEditId){
                this.editItem(_.toInteger(this.$route.params.id), 'users.update', true)
            }
        }
    }
</script>

<style scoped>

</style>
