<template>
    <div>
        <v-row>
            <v-col cols="9">
                <v-row>
                    <v-col>
                        <v-text-field
                            v-model="editModel.slug"
                            :label="$t('field.slug')"
                            :error-messages="errors.slug"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-divider class="my-4"></v-divider>
                <div class="mt-4 d-flex">
                    <langs v-model="editModel.lang" :errors="errors" :langs="editModel.langs"></langs>
                </div>
                <v-row>
                    <v-col>
                        <v-text-field
                            v-model="editModel.title"
                            :label="$t('field.title')"
                            :error-messages="errors['langs.'+ iLang + '.title']"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-textarea
                            v-model="editModel.description"
                            :label="$t('field.description')"
                            :error-messages="errors['langs.'+ iLang + '.description']"
                        ></v-textarea>
                    </v-col>
                </v-row>
                <content-editor v-model="editModel.content" :model="editModel"></content-editor>
                <component
                    v-if="hasTemplate"
                    :is="template"
                    :lang="editModel.lang"
                    v-model="editModel"
                    :errors="errors"
                ></component>
            </v-col>
            <v-col cols="3">
                <upload-image class="mb-2" v-model="editModel.image_id" :image="editModel.image" ></upload-image>
                <div class="mt-4 d-flex">
                    <langs v-model="editModel.lang" :errors="errors" :langs="editModel.langs"></langs>
                </div>
                <category-autocomplete
                    v-if="isLoad"
                    v-model="editModel.parent_id"
                    :label="$t('field.parent_category')"
                    :errors="errors.parent_id"
                    :current="editModel.id"
                    parent
                ></category-autocomplete>
                <component
                    v-if="hasTemplateSidebar"
                    :is="templateSidebar"
                    :lang="editModel.lang"
                    v-model="editModel"
                    :errors="errors"
                ></component>
                <div v-if="editModel.id">
                    <span>{{ $t('field.created_at') }}:</span>
                    <span>{{ editModel.created_at }}</span>
                </div>
                <div v-if="editModel.id" class="mb-2">
                    <span>{{ $t('field.updated_at') }}:</span>
                    <span>{{ editModel.updated_at }}</span>
                </div>
                <template v-if="$route.name === 'category'">
                    <v-btn color="primary" @click="setEditItem()">{{ $t('save') }}</v-btn>
                    <v-btn color="error" @click="getDeleteItem(editModel)">{{ $t('delete') }}</v-btn>
                </template>
                <template v-if="$route.name === 'category-create'">
                    <v-btn color="primary" @click="create()">{{ $t('save') }}</v-btn>
                </template>
            </v-col>
        </v-row>
        <delete-confirm v-model="hasDeleteModel" @deleteConfirm="setDeleteItem"></delete-confirm>
    </div>
</template>

<script>
import Langs from "../components/Langs";
import {crudDefault, edit, create, del, langs} from "../mixins/crud";
import DeleteConfirm from "../components/DeleteConfirm";
import UploadImage from "../../image/UploadImage";
import DateTime from "../components/DateTime";
import ContentEditor from "../components/tinymce/ContentEditor";
import {category} from "../mixins/editComponents";
import CategoryAutocomplete from "../../autocomlete/CategoryAutocomplete";

export default {
    name: "EditCategory",
    mixins: [crudDefault, edit, create, del, langs, category],
    components: {CategoryAutocomplete, DateTime, UploadImage, DeleteConfirm, ContentEditor, Langs},
    data() {
        return {
            afterCreateModel: true,
            afterEditModel: true,
            route: '/admin/categories',
            loader: false,
            editModel: {},
            isLoad: false
        }
    },
    watch: {
        editModel(value) {
            this.$emit('input', value)
        },
        value(value) {
            this.editModel = value;
        },
    },
    methods:{
        create(){
            this.createModel = this.editModel;
            this.setCreateItem()
        },
        afterCreate(data){
            if(data.id){
                this.$router.push({name: 'category', params: {id: data.id}})
            }
        }
    },
    created() {
        if(this.$route.name === 'category'){
            axios.get('/admin/categories/' + this.$route.params.id + '/edit')
                .then((response) => {
                    this.editModel = response.data;
                    this.setRouteItem(this.editModel)
                    this.isLoad = true
                });
        }else{
            axios.get('/admin/categories/make')
                .then((response) => {
                    this.editModel = response.data;
                    this.isLoad = true
                });
        }
    }
}
</script>

<style scoped>

</style>
