<template>
    <div>
        <v-row>
            <v-col>
                <v-text-field
                    v-model="model.first_name"
                    :label="$t('field.name')"
                    :error-messages="errors.first_name"
                ></v-text-field>
            </v-col>
            <v-col>
                <v-text-field
                    v-model="model.last_name"
                    :label="$t('field.surname')"
                    :error-messages="errors.last_name"
                ></v-text-field>
            </v-col>
        </v-row>
        <v-text-field
            v-model="model.email"
            :label="$t('field.email')"
            :error-messages="errors.email"
        ></v-text-field>
        <v-row>
            <v-col>
                <v-text-field
                    type="password"
                    v-model="model.password"
                    :label="$t('field.password')"
                    :error-messages="errors.password"
                ></v-text-field>
            </v-col>
            <v-col>
                <v-text-field
                    type="password"
                    v-model="model.password_confirmation"
                    :label="$t('field.password_confirmation')"
                    :error-messages="errors.password_confirmation"
                ></v-text-field>
            </v-col>
        </v-row>
    </div>
</template>

<script>
export default {
    name: "EditUser",
    props: ['value', 'errors'],
    data(){
        return {
            model: this.value
        }
    },
    watch: {
        model(value){
            this.$emit('input', value)
        },
        value(value){
            this.model = value;
        },
    },
}
</script>

<style scoped>

</style>
