<template>
    <div v-if="isLoad">
        <v-row>
            <v-col cols="9">
                <v-text-field
                    v-model="editModel.slug"
                    :label="$t('field.slug')"
                    :error-messages="errors.slug"
                ></v-text-field>
                <template v-if="editModel.url">
                    <div class="mb-4">
                        <a :href="editModel.url" target="_blank">{{ editModel.url }}</a>
                    </div>
                </template>
                <v-divider class="my-4"></v-divider>
                <v-text-field
                    v-model="editModel.title"
                    :label="$t('field.title')"
                    :error-messages="errors['langs.'+ iLang + '.title']"
                ></v-text-field>
                <v-textarea
                    v-model="editModel.description"
                    :label="$t('field.description')"
                    :error-messages="errors['langs.'+ iLang + '.description']"
                ></v-textarea>
                <content-editor v-model="editModel.content" :model="editModel"></content-editor>
                <tags-autocomplete
                    v-model="editModel.tags_ids"
                    :label="$t('instance.tags')"
                    :error-messages="errors.tags_ids"
                ></tags-autocomplete>
                <component
                    v-if="hasTemplate"
                    :is="template"
                    :lang="editModel.lang"
                    v-model="editModel"
                    :errors="errors"
                ></component>
                <component
                    v-if="hasTemplateCategory"
                    :is="templateCategory"
                    :lang="editModel.lang"
                    v-model="editModel"
                    :errors="errors"
                ></component>
            </v-col>
            <v-col cols="3">
                <upload-image class="mb-2" v-model="editModel.image_id" :image="editModel.image" ></upload-image>
                <div class="mt-4 d-flex">
                    <langs v-model="editModel.lang" :errors="errors" :langs="editModel.langs"></langs>
                </div>
                <category-autocomplete
                    v-if="isLoad"
                    v-model="editModel.category_id"
                    :label="$t('field.category')"
                    :model.sync="editModel.category"
                    :error-messages="errors.category_id"
                    post
                    @hasChildren="(value) => {setChildrenCategories(value); validateChildrenCategories()}"
                    @clear="validateChildrenCategories()"
                ></category-autocomplete>
                <template v-for="(items, i) in childrenCategories">
                    <v-select
                        v-if="items && items.length"
                        v-model="editModel.category_ids[i]"
                        :items="items"
                        item-text="title"
                        item-value="id"
                        :label="$t('field.subcategory') + ' ' + (i + 1)"
                        clearable
                        return-oject
                        @click:clear="validateChildrenCategories()"
                        @change="(value) => { setChildrenCategory(value, i); validateChildrenCategories() }"
                    ></v-select>
                </template>
                <component
                    v-if="hasTemplateSidebar"
                    :is="templateSidebar"
                    :lang="editModel.lang"
                    v-model="editModel"
                    :errors="errors"
                ></component>
                <component
                    v-if="hasTemplateCategorySidebar"
                    :is="templateCategorySidebar"
                    :lang="editModel.lang"
                    v-model="editModel"
                    :errors="errors"
                ></component>
                <div v-if="editModel.id">
                    <span>{{ $t('field.created_at') }}:</span>
                    <span>{{ editModel.created_at }}</span>
                </div>
                <div v-if="editModel.id" class="mb-2">
                    <span>{{ $t('field.updated_at') }}:</span>
                    <span>{{ editModel.updated_at }}</span>
                </div>
                <v-checkbox
                    v-model="editModel.is_publish"
                    :error-messages="errors.is_publish"
                    :label="$t('field.publish')"
                ></v-checkbox>
                <template v-if="$route.name === 'product'">
                    <v-btn color="primary" @click="setEditItem(editModel)">{{ $t('save') }}</v-btn>
                    <v-btn color="error" @click="getDeleteItem(editModel)">{{ $t('delete') }}</v-btn>
                    <v-btn v-if="editModel.is_deleted" color="success" @click="setRestoreItem(editModel)">{{ $t('restore') }}</v-btn>
                </template>
                <template v-if="$route.name === 'product-create'">
                    <v-btn color="primary" @click="create()">{{ $t('save') }}</v-btn>
                </template>
            </v-col>
        </v-row>
        <delete-confirm v-model="hasDeleteModel" @deleteConfirm="setDeleteItem"></delete-confirm>
    </div>
</template>

<script>
    import DateTime from "../components/DateTime";
    import UploadImage from "../../image/UploadImage";
    import DeleteConfirm from "../components/DeleteConfirm";
    import ContentEditor from "../components/tinymce/ContentEditor";
    import Langs from "../components/Langs";
    import {crudDefault, del, edit, create, langs} from "../mixins/crud";
    import CategoryAutocomplete from "../../autocomlete/CategoryAutocomplete";
    import {product} from "../mixins/editComponents";
    import TagsAutocomplete from "../../autocomlete/TagsAutocomplete";

    export default {
        name: "EditProduct",
        components: {TagsAutocomplete, CategoryAutocomplete, DateTime, UploadImage, DeleteConfirm, ContentEditor, Langs},
        mixins: [crudDefault, edit, del, create, langs, product],
        data() {
            return {
                afterCreateModel: true,
                afterEditModel: true,
                route: '/admin/products',
                loader: false,
                editModel: {},
                childrenCategories: [],
                isLoad: false
            }
        },
        watch: {
            'editModel.category_ids'(){
            }
        },
        methods: {
            create() {
                this.createModel = this.editModel;
                this.setCreateItem()
            },
            afterCreate(data) {
                if (data.id) {
                    this.$router.push({name: 'product', params: {id: data.id}})
                }
            },
            validateChildrenCategories(){
                setTimeout(() => {
                    let splice = null
                    let parent = this.editModel.category_id
                    if(!parent){splice = 0}
                    _.forEach(this.editModel.category_ids, (id, i) => {
                        let child = _.find(_.nth(this.childrenCategories, i), (o) => {
                            return o.id === id && o.parent_id === parent
                        })
                        if (child) {
                            parent = child.id
                        } else if (splice === null) {
                            splice = i
                        }
                    })

                    if (splice !== null) {
                        this.editModel.category_ids.splice(splice, this.editModel.category_ids.length)
                        this.childrenCategories.splice(parent ? ++splice : 0, this.childrenCategories.length)
                    }
                }, 100)
            },
            setChildrenCategory(categoryId, i){
                if(categoryId){
                    axios.get('/admin/categories/' + categoryId)
                        .then((response) => {
                            let category = response.data
                            this.setChildrenCategories(category, ++i)
                        })
                }
            },
            setChildrenCategories(category, i){
                i = i ? _.toInteger(i) : 0
                let childrenCategories = this.childrenCategories
                if(category){
                    childrenCategories[i] = category.children
                }else{
                    childrenCategories[i] = []
                }
                this.childrenCategories = _.clone(childrenCategories)

            }
        },
        created() {
            if (this.$route.name === 'product') {
                axios.get('/admin/products/' + this.$route.params.id + '/edit')
                    .then((response) => {
                        this.editModel = response.data;
                        this.setRouteItem(this.editModel)
                        _.each(this.editModel.category_ids, (item, i) => {
                            this.setChildrenCategory(item, i)
                        })
                        this.isLoad = true
                    });
            } else {
                axios.get('/admin/products/make')
                    .then((response) => {
                        this.editModel = response.data;
                        this.isLoad = true
                    });
            }
        },
        mounted() {
        }
    }
</script>

<style scoped>

</style>
