<template>
    <div v-if="isLoad">
        <v-row>
            <v-col cols="9">
                <v-row>
                    <v-col>
                        <div class="title" v-text="$t('field.address')"></div>
                        <div v-text="editModel.address"></div>
                    </v-col>
                </v-row>
                <v-divider class="my-4"></v-divider>
                <template v-for="item in editModel.items">
                    <v-row>
                        <v-col cols="2">
                            <v-img :src="item.image_url_thumb_p"></v-img>
                        </v-col>
                        <v-col>
                            <span class="title" v-text="item.title"></span>
                        </v-col>
                        <v-col cols="auto">
                            <div>
                                <v-btn-toggle>
                                    <v-btn small @click="addItemCount(item.id)">
                                        <v-icon small>fa-plus</v-icon>
                                    </v-btn>
                                    <v-btn small class="title" v-text="item.count"></v-btn>
                                    <v-btn small @click="subItemCount(item.id)">
                                        <v-icon small>fa-minus</v-icon>
                                    </v-btn>
                                </v-btn-toggle>
                            </div>
                            <div class="my-2 title">
                                <span v-text="item.price"></span>
                                <span>x</span>
                                <span v-text="item.count"></span>
                                <span>=</span>
                                <span v-text="item.price * item.count"></span>
                            </div>
                        </v-col>
                    </v-row>
                </template>
                <v-divider class="my-4"></v-divider>
                <component
                    v-if="hasTemplate"
                    :is="template"
                    :lang="editModel.lang"
                    v-model="editModel"
                    :errors="errors"
                ></component>
            </v-col>
            <v-col cols="3">
                <component
                    v-if="hasTemplateSidebar"
                    :is="templateSidebar"
                    :lang="editModel.lang"
                    v-model="editModel"
                    :errors="errors"
                ></component>
                <div v-if="editModel.id">
                    <span>{{ $t('field.created_at') }}:</span>
                    <span>{{ editModel.created_at }}</span>
                </div>
                <div v-if="editModel.id" class="mb-2">
                    <span>{{ $t('field.updated_at') }}:</span>
                    <span>{{ editModel.updated_at }}</span>
                </div>

                <v-select
                    :items="statuses"
                    v-model="editModel.status"
                ></v-select>
                <div class="mb-2">
                    <span class="title" v-text="$t('field.summ') + ':'"></span>
                    <span class="title" v-text="price"></span>
                    <span v-if class="grey--text" v-text="editModel.price"></span>
                </div>
                <div class="mb-2">
                    <div class="title" v-text="$t('field.delivery_datetime')"></div>
                    <div v-text="editModel.delivery_datetime"></div>
                </div>
                <div class="mb-2">
                    <div class="title" v-text="$t('field.phone')"></div>
                    <div v-text="editModel.phone"></div>
                </div>
                <div class="mb-2">
                    <div class="title" v-text="$t('field.email')"></div>
                    <div v-text="editModel.email"></div>
                </div>

                <v-btn color="primary" @click="setEditItem(editModel)">{{ $t('save') }}</v-btn>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import DateTime from "../components/DateTime";
    import Langs from "../components/Langs";
    import {crudDefault, edit, create, langs} from "../mixins/crud";
    import {order} from "../mixins/editComponents";

    export default {
        name: "EditOrder",
        components: { DateTime, Langs},
        mixins: [crudDefault, edit, create, langs, order],
        data() {
            return {
                afterEditModel: true,
                route: '/admin/orders',
                loader: false,
                editModel: {},
                isLoad: false,
                statuses: []
            }
        },
        computed:{
            price(){
                return _.sum(_.map(this.editModel.items, (o) => {
                    return o.count * o.price
                }))
            }
        },
        watch: {

        },
        methods: {
            create() {
                this.createModel = this.editModel;
                this.setCreateItem()
            },
            afterCreate(data) {
                if (data.id) {
                    this.$router.push({name: 'order', params: {id: data.id}})
                }
            },
            addItemCount(id) {
                this.editModel.items = _.map(this.editModel.items, (o) => {
                    if(o.id === id){
                        o.count = o.count + 1
                    }
                    return o
                })
            },
            subItemCount(id) {
                this.editModel.items = _.map(this.editModel.items, (o) => {
                    if(o.id === id && o.count > 0){
                        o.count = o.count - 1
                    }
                    return o
                })
            }
        },
        created() {
            axios.get('/admin/orders/' + this.$route.params.id + '/edit')
                .then((response) => {
                    this.editModel = response.data;
                    this.setRouteItem(this.editModel)
                    this.isLoad = true
                });
            axios.get('/admin/orders/statuses')
                .then((response) => {
                    this.statuses = response.data;
                });
        },
        mounted() {
        }
    }
</script>

<style scoped>

</style>
