<template>
    <div>
        <div class="">
            <langs v-model="editModel.lang" :errors="errors" :langs="editModel.langs"></langs>
        </div>
        <v-row>
            <v-col>
                <v-text-field
                    v-model="editModel.title"
                    :label="$t('field.title')"
                    :error-messages="errors['langs.'+ iLang + '.title']"
                ></v-text-field>
            </v-col>
        </v-row>
        <v-row>
            <template v-for="group in permissions">
                <v-col cols="6">
                    <div class="title" v-text="group.group.text"></div>
                    <template v-for="item in group.items">
                        <v-checkbox
                            v-model="editModel.permissions"
                            :value="item.value"
                            :label="item.text"
                        ></v-checkbox>
                    </template>
                </v-col>
            </template>
        </v-row>
    </div>
</template>

<script>
    import Langs from "../components/Langs";
    import {langs} from "../mixins/crud";
    export default {
        name: "EditRole",
        props: ['value', 'errors'],
        mixins: [langs],
        components: {Langs},
        data(){
            return {
                permissions: [],
                editModel: this.value
            }
        },
        watch: {
            editModel(value){
                this.$emit('input', value)
            },
            value(value){
                this.editModel = value;
            },
        },
        created() {
            axios.get('/admin/roles/permissions')
                .then((response) => {
                    this.permissions = response.data
                })
            if(!this.editModel.id){
                axios.get('/admin/roles/make')
                    .then((response) => {
                        this.editModel = response.data;
                    });
            }
        }
    }
</script>

<style scoped>

</style>
